// Base
@import 'base/variables'
@import 'base/mixins'

*
    font-family: 'Roboto', sans-serif
    margin: 0
    padding: 0

.containers
    width: 1200px
    margin: 0 auto

.grey
    color: $main-color

.white
    font-size: 15px
    font-weight: 400

// Header
@import 'blocks/header'

// Promo
@import 'blocks/promo'
// Startup
@import 'blocks/startup'
// Awards
@import 'blocks/awards'
// Work
@import 'blocks/work'
// Improve
@import 'blocks/improve'
// Review
@import 'blocks/review'
// Skills
@import 'blocks/skills'
// Fact
@import 'blocks/fact'
// Blog
@import 'blocks/blog'
// Talk
@import 'blocks/talk'

// Footer
@import 'blocks/footer'